{% extends "shop/base.html" %}

{% block title %}
    <title>{{user_profile.name}}</title>
{% endblock title %}

{% block content %}
{% verbatim %}
<main class='container' id="orderList">
    <div class='row' v-for="order in orders" :key="order.id">
            <div class='col'>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Заказ номер {{ order.id }}</h5>
                        Товары в заказе: {{ order.items }}
                        <br>
                        <button type="button" class="btn btn-outline-primary" @click='addOrderId(order.id)'>Отобразить товары в заказе</button>
                        <p v-if='order.id in meta'>{{ getItems(order.id) }}</p>
                    </div>
                </div>
            </div>
    </div>
    <h1> лайки :</h1>
    <div class="row" v-for="item in likedItems" :key="item.id">
        <div class='col'>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">title: {{ item.title }}</h5>
                    <h5> Цена : {{ item.price }} </h5>
                    <button class="w-50 btn btn-lg btn-danger mb-3" @click="removeLike(item.id)"> Дизлааайк  </button>
                </div>
            </div>
        </div>
    </div>
{% endverbatim %}
</main>
<script src = "/static/userProfileApp.js"></script>
<script>
  const mountedApp = orderApp.mount("#orderList")
</script>
{% endblock %}