{% extends "shop/base.html" %}

{% block title %}
    <title>{{user_profile.name}}</title>
{% endblock title %}

{% block content %}
{% verbatim %}
<main class='container' id="orderList">
    <div class='row' v-for="order in orders" :key="order.id">
            <div class='col-'>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Заказ номер {{ order.id }}</h5>
                        Сумма {{ order }} ₽
                    </div>
                </div>
            </div>
    </div>
{% endverbatim %}
</main>
<script src = "/static/userProfileApp.js"></script>
<script>
  const mountedApp = orderApp.mount("#orderList")
</script>
{% endblock %}