{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    <title>Корзина</title>
{% endblock %}

{% block content %}

{% verbatim %}
<main class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center" id="cart">
                <h1>Your shopping cart</h1>
                <div class="container-md">
                    <div class = 'row mb-2'>
                        <div class="col-2 themed-grid-col">Изображение</div>
                        <div class="col-2 themed-grid-col">Товар</div>
                        <div class="col-2 themed-grid-col">Количество</div>
                        <div class="col-2 themed-grid-col">Цена(1шт.)</div>
                        <div class="col-2 themed-grid-col">Сумма</div>
                        <div class="col-2 themed-grid-col">    </div>
                    </div>
                            <div class = 'row mb-3' v-for="item in items" :key="item.id">
                                <div class="col-2 themed-grid-col">
                                    <a href="">
                                        <img v-bind:src="item.pic" width="100" alt='Картинка не найдена'>
                                    </a>
                                </div>
                                <div class="col-2 themed-grid-col">
                                    <a>
                                        {{ item.title }}
                                    </a>
                                </div>
                                <div class="col-2 themed-grid-col">
                                    {{ item.quantity }}
                                </div>
                                <div class="col-2 themed-grid-col">
                                    {{ item.price }}
                                </div>
                                <div class="col-2 themed-grid-col">
                                    {{ item.total_price }}
                                </div>
                                <div class="col-2 themed-grid-col">
                                        <button v-on:click="remove(item.id)" type="button" class="btn btn-outline-danger" >
                                            Удалить
                                        </button>
                                </div>
                            </div>


                    <div class = 'row mb-3'>
                        <div class="col-2 themed-grid-col"></div>
                        <div class="col-2 themed-grid-col"></div>
                        <div class="col-2 themed-grid-col"></div>
                        <div class="col-2 themed-grid-col"> Total </div>
                        <div class="col-2 themed-grid-col">  ₽ </div>
                        <div class="col-2 themed-grid-col">
                    </div>
                    <div class="row-3" role="toolbar" aria-label="Toolbar with button groups">
                            <a href="{% url 'shop:index' %}" class="btn btn-secondary">Каталог товаров</a>
                            <a v-on:click="cleanCart" class="btn btn-danger">Очистить корзину</a>
                            <a href="{% url 'orders:order_create' %}" class="btn btn-success">Оформление заказа</a>
                    </div>
                </div>
    </div>
{% endverbatim %}
</main>
<script src = "/static/cartApp.js"></script>
<script>
  const mountedApp = app.mount("#cart")
</script>
{% endblock %}