{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    <title>Корзина</title>
{% endblock %}

{% block content %}


<main class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        {% with total_items=cart|length %}
            {% if cart|length > 0 %}     
                <h1>Your shopping cart</h1>
                <div class="container-md">
                    <div class = 'row mb-2'>
                        <div class="col-2 themed-grid-col">Изображение</div>
                        <div class="col-2 themed-grid-col">Товар</div>
                        <div class="col-2 themed-grid-col">Количество</div>
                        <div class="col-2 themed-grid-col">Цена(1шт.)</div>
                        <div class="col-2 themed-grid-col">Сумма</div>
                        <div class="col-2 themed-grid-col">    </div>
                    </div>
                    {% for item in cart %}
                        {% with product=item.product %}
                            <div class = 'row mb-3'> 
                                <div class="col-2 themed-grid-col">
                                    <a href="{{ item.item.get_absolute_url }}">
                                        <img src="{{item.item.pic}}" width="100" alt='Картинка не найдена'>
                                    </a>
                                </div>
                                <div class="col-2 themed-grid-col">
                                    <a href="{{ item.item.get_absolute_url }}">
                                        {{ item.item.title }}
                                    </a>
                                </div>
                                <div class="col-2 themed-grid-col">
                                    {{ item.quantity }}
                                </div>
                                <div class="col-2 themed-grid-col">
                                    {{ item.price }}
                                </div>
                                <div class="col-2 themed-grid-col">
                                    {{ item.total_price }}
                                </div>
                                <div class="col-2 themed-grid-col">
                                    <a href="{% url 'cart:cart_remove' item_id=item.item.id %}">
                                        <button type="button" class="btn btn-outline-danger">
                                            Удалить
                                        </button>
                                    </a>
                                </div>
                            </div>
                        {% endwith %}
                    {% endfor %}
                    <div class = 'row mb-3'>
                        <div class="col-2 themed-grid-col"></div>
                        <div class="col-2 themed-grid-col"></div>
                        <div class="col-2 themed-grid-col"></div>
                        <div class="col-2 themed-grid-col"> Total </div>
                        <div class="col-2 themed-grid-col"> {{ cart.get_total_price }} ₽ </div>
                        <div class="col-2 themed-grid-col">
                    </div>
                    <div class="row-3" role="toolbar" aria-label="Toolbar with button groups">
                            <a href="{% url 'shop:index' %}" class="btn btn-secondary">Каталог товаров</a>
                            <a href='{% url "cart:clear" %}'class="btn btn-danger">Очистить корзину</a>
                            <a href="{% url 'orders:order_create' %}" class="btn btn-success">Оформление заказа</a>
                    </div>
                </div>
            {% else %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    Ваша корзина пуста, перейдите к  
                    <a href="{% url 'shop:index' %}" class="alert-link">каталогу</a> 
                    для дальнейших покупок
                </div>
            {% endif %}
        {% endwith %}
    </div>
</main>
{% endblock %}