{% extends 'shop/base.html' %}

{% block title %}
<title xmlns:v-on="http://www.w3.org/1999/xhtml">Главная страница</title>
{% endblock title %}

{% block content %}
{% if user.is_superuser %}
  <nav class='navbar navbar-expand-lg'> 
    <div class="alert alert-success" role="alert">
    You are in administation mode , here are the
    <a href="/admin/">admin pages</a> for changing content.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  </nav>
{% endif %}
<main class='container'>
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Pricing</h1>
      <p class="lead">Главная страница</p>
    </div>
{% verbatim  %}
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center" id="index_w_api">
          <div class="card mb-4 shadow-sm" v-for="item in items" :key="item.id">
            <div class="card-header">
              <a class="link-dark" style='text-decoration: none;'>
                <h4 class="my-0 fw-normal">{{ item.title }}</h4>
              </a>
            </div>
            <div class="card-body">
                <a >
                  <img  v-bind:src="item.pic" width="200"  alt='Картинка не найдена'>
                </a>
            </div>
              <h1 class="card-title pricing-card-title"> {{ item.price }} <small class="text-muted">₽</small></h1>
            <div v-on:click="add(item.id)"> {{item.id}} asasd </div>
    </div>

{% endverbatim  %}


</main> 

<script src = "/static/mainApp.js"></script>
<script>
  const mountedApp = app.mount("#index_w_api")
</script>

{% endblock content %}
