{% extends "shop/base.html" %}

{% block title %}
    <title>{{user_profile.name}}</title>
{% endblock title %}

{% block content %}
<main class='container'>
    <div class='row'>
        {% for order in orders %}
            <div class='col-'>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Заказ номер {{ order.id }}</h5>
                        <table class='table'>
                            <tr>
                                <th> Товар</th>
                                <th> Цена</th>
                                <th> Количество</th>
                            </tr>
                            {% for item in order %}
                            <tr>
                                <td> <strong>{{ item }}</strong> </td>
                                <td> {{ item.price }} </td>
                                <td> {{ item.quantity }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                        Сумма {{ order.get_total_cost }} ₽
                    </div>
                </div>

            </div>
        {% endfor %}
    </div>
</main>
{% endblock %}